.page-colour {
  position: relative;
  text-align: center;
  margin-top: (-1 * $site-logo-height) / 2;
  margin-bottom: 2em;
  z-index: 1;

  @include breakpoint($medium) {
    margin-top: (-1.5 * $site-logo-height) / 2;
  }

  .line {
      background-image: url('https://colours.rajcevic.org/random');
      background-repeat: repeat;
      width: 100%;
      height: 5px;
  }

}